<!DOCTYPE html>
<html>
  <head>
    <title>监控系统</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
  </head>
  <body>
    <header>
      <ul id="nav">
        <li><a href="/">首页</a></li>
        <li><a href="/gate">监控</a></li>
        <li><a href="/message">统计</a></li>
        <li><a href="#">子菜单</a>
          <ul class="subs">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
          </ul>
        </li>
      </ul>
    </header>
    <%-body%>
  </body>
</html>